%li.editable-item{class: ('active' if section == @section)}
  = link_to section.name, [@course, section]
  - if can? :manage, @course
    .admin-links
      = link_to [:edit, @course, section] do
        = content_tag 'i', '', class: 'icon-pencil'
      = link_to [@course, section], method: :delete, confirm: t('confirm') do
        = content_tag 'i', '', class: 'icon-remove'