- content_for :title_section, "Курс #{@course.name}"
#course
  .page-title
    =@course.name
    - if can? :edit, @course
      = link_to '[Edit]', [:edit, @course] if can? :edit, @course


  .row
    .span3
      %ul.nav.nav-tabs.nav-stacked
        = render @sections
        - if can? :manage, @course
          %li.add
            = link_to [:new, @course, 'section'], {class: 'btn btn-primary'} do
              %span=I18n.t('course.section.add')


    .span8
      %ul.materials
        = render @materials
        - if can? :manage, @course
          %li.add
            %a
              %i.icon-plus
            .links
              = link_to 'Лекция', new_course_section_material_path(@course, @section, study_material_type: 'Lecture')
              = link_to 'Документ', new_course_section_material_path(@course, @section, study_material_type: 'Document')
      .material
        - if !@material.nil?
          - if can? :manage, @course
            .admin-links
              = link_to [:edit, @course, @section, @material] do
                = content_tag 'i', '', class: 'icon-pencil'
              = link_to [@course, @section, @material], method: :delete, confirm: t('confirm') do
                = content_tag 'i', '', class: 'icon-remove'
          = render "/materials/#{@material.study_material_type.downcase}_show"