- content_for :title_section, "Курс #{@course.name}"
#course
  .page-title
    =@course.name
    - if can? :edit, @course
      = link_to '[Edit]', [:edit, @course] if can? :edit, @course


  .row
    .span3
      %ul.nav.nav-tabs.nav-stacked
        = render @sections
        - if can? :manage, @course
          %li.add
            = link_to [:new, @course, 'section'], {class: 'btn btn-primary'} do
              %span=I18n.t('course.section.add')


    .span8
      %ul.nav.nav-pills
        = render @materials
        - if can? :manage, @course
          %li.add
            = link_to new_course_section_material_path(@course, @section, study_material_type: 'Lecture'), {class: 'btn btn-primary'} do
              %span Добавить лекцию
              .edit-link
                = content_tag 'i', '', class: 'icon-plus icon-white'
          %li.add
            = link_to new_course_section_material_path(@course, @section, study_material_type: 'Document'), {class: 'btn btn-primary'} do
              %span Добавить документ
              .edit-link
                = content_tag 'i', '', class: 'icon-plus icon-white'
      %div
        - if !@material.nil?
          = render "/materials/#{@material.study_material_type.downcase}_show"