.accordion#accordion
  -@material.data['questions'].each_with_index do |question, i|
    .accordion-group
      .accordion-heading
        %a.accordion-toggle{'data-toggle' => "collapse", 'data-parent'=>"#accordion", href: "#collapse#{i}"}=i+1
      .accordion-body.collapse.in{id:"collapse#{i}"}
        .accordion-inner
          %label вопрос теста
          =text_area_tag "material[data][questions][][body]", question['body'], class: 'ckeditor'
          %label
            разрешить множественные ответы?
            =check_box_tag "material[data][questions][][select_multiple]", true, question['select_multiple']
          %div{class: "question#{i}"}
            -question['answers'].each_with_index do |answer, j|
              %div{class: "answer#{j}"}
                =text_field_tag "material[data][questions][][answers][]", answer
                =check_box_tag "material[data][questions][][correct_answers][]", j, question['correct_answers'].include?(j.to_s)
                %a{href: "javascript:deleteAnswer(#{i}, #{j})"} delete
          %a{href: "javascript:addAnswerToQuestion(#{i})"} add


:javascript
  function deleteAnswer(questionNumber, answerNumber) {
    $(".question" + questionNumber + " .answer" + answerNumber).remove()
  }

  function addAnswerToQuestion(questionNumber) {
    $(".question" + questionNumber).append("<div>new answer</div>")
  }